html {
    cursor: url("../../static/assets/icons/icons8-cursor-35.png"), auto;
}
body {
    margin: 0;
    // background-image: url("../../static/assets/dave-hoefler-PEkfSAxeplg-unsplash\ \(1\).jpg");
    background-image: url("../../static/assets/sharon-mccutcheon-gominolas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    

}
.book-content {
    padding-top: 100px;
    padding-bottom: 100px;

    
}

a:-webkit-any-link {
    cursor: url("../../static/assets/icons/icons8-cursor-de-mano-35.png"), auto;
    text-decoration: none;
}

@import "topPage";
@import "home";
@import "portadaLibro.scss";
@import "formFields.scss";

// AUTH
@import "authStyles/login.scss";
@import "authStyles/signUp.scss";


// BOOK COMPONENTS
@import "booksComponentStyles/imagenParrafo.scss";
@import "booksComponentStyles/dobleImagenParrafo.scss";
@import "booksComponentStyles/parrafoJuego.scss";


// GAMES
@import "juegostyles/colorGrid.scss";

// BLOG
@import "blogStyles/blog.scss";