.libro {
    display: grid;
    grid-template-rows: 1/-1;
    grid-template-columns: 1/-1;
    cursor: url("../../static/assets/icons/icons8-book-reading-50.png"), auto;
    
    border-radius: 20px;
    
    & > * {
        grid-row: 1/-1;
        grid-column: 1/-1;
    }

}

.libro {
    perspective: 150rem;
    -moz-perspective: 150rem;
   
   
    &-delante,
    &-detras {
        backface-visibility: hidden;
        transition: all .5s ease;
        
    }

    &-detras {
        transform: rotateY(-180deg);
    }

    &:hover &-delante {
        transform: rotateY(180deg);
    }
    &:hover &-detras {
        transform: rotateY(0deg);

    }
}


.libro-delante {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    

    text-decoration: none;
    &__image {
        box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 
        12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 3px 8px 32px 29px rgba(0,0,0,0);
        height: 320px;
        width: 220px;
        object-fit: cover;
    }
    &__title {
        color: #940088;
        font-size: 26px;
        font-family: 'Flavors', cursive;
        margin-top: 10px;
        margin-bottom: 20px;
        text-shadow: 3px 3px 1px #ffe488;
    }
}

.libro-detras {
    height: 320px;
    width: 220px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF,
     12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 3px 8px 32px 29px rgba(0,0,0,0);
    color: black;
   


    font-family: 'Balsamiq Sans', cursive;
    font-size: 20px;
    background-color: grey;
    

    &__description {
        grid-column: 1/-1;
        
    }
    p {
        padding: 14px;
    }
}