.top-page {
    height: auto;
    width: 95vw;
    display: grid;
    grid-template-columns: 1fr 3fr;

    &__login-links {
        display: grid;
        height: 20px;
        cursor: auto;

        
    }
    &__title {
        font-size: 6em;
        display: flex;
        justify-content: center;
        font-family: 'Flavors', cursive;
        color: #d600c5;
        letter-spacing: 2px;
        text-shadow: 6px 7px 2px #456e81;
        
    }

    &__home,
    &__login,
    &__language {
        font-size: 19px;
        font-weight: bolder;
        padding: 4px;
        padding-right: 0;
        border-end-end-radius: 100px 10px;
        color: #85007a;
        font-family: 'Varela Round', sans-serif;
        transition: 1s ease-in-out;
        cursor: url("../../static/assets/icons/icons8-cursor-de-mano-35.png"), auto;
   
        

        &:hover {
            border-end-end-radius: 10px 100px;
            letter-spacing: 2px;
            background-color: #5553de;
            color: yellow;
        }
        

       
    }

    &__login {
        border: 2px ridge #d600c5;
        width: 100%;
        background-color: #5e97b2;
       
    }
    &__home {
        border: 2px ridge #d600c5;
        border-top: none;
        width: 80%;
        background-color: #74b9da;
    }
    &__language {
        border: 2px ridge #d600c5;
        border-top: none;
        width: 60%;
        background-color: #88d9ff;
    }
}

@media (max-width: 750px) {
    .top-page {
        display: flex;
        flex-direction: column;

        &__title {
            margin-top: 30px;
            display: flex;
            justify-content: center;
            text-align: center;
        }
    }
}