
.imagen-parrafo {

    display: flex;
    flex-direction: column;
    align-items: center;

    &__imagen-texto {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__imagen {
        width: 400px;
        border: solid 2px black;
        height: 600px;
        object-fit: cover;
    }

    &__texto {
        width: 450px;
        margin-left: 20px;
        margin-top: 20px;
        font-family: 'Balsamiq Sans', cursive;
        font-size: 24px;
    }

    

    &__button {
        background-color: #5553de;
        padding: 15px;
        border-radius: 15px;
        outline: none;
        color: white;
        margin-top: 40px;
        cursor: url("../../static/assets/icons/icons8-cursor-de-mano-35.png"), auto;
        font-family: 'Balsamiq Sans', cursive;
    }
}