.parrafo-juego {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    &__parrafo {
        width: 450px;
        margin-left: 20px;
        margin-top: 20px;
        font-family: 'Varela Round', sans-serif;
        font-size: 24px;
    }
}